.background {
	background-color: #15181B
}

a {
	cursor: pointer;
}

img, .aspect-ratio {
	aspect-ratio: 16 / 9;
}

img {
	width: 100%;
	object-fit: cover;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn 1s forwards;
}
