<nav class="d-flex justify-content-between">
	<div class="w-100">
		<button class="nav-toggle mt-1" (click)="toggleNav()">
			<i class="bi bi-{{open$.value ? 'x' : 'list'}}"></i>
		</button>
		<div #nav class="nav-list d-none d-md-flex flex-column flex-md-row">
			<div class="text-center text-md-left mb-2 mb-md-0 mr-md-2">
				<a routerLink="/home">
					<img class="logo" [src]="'logo_small.png' | cmsImage">
				</a>
			</div>
			<div class="nav-container d-flex w-100 justify-content-between mx-sm-auto mx-md-0">
				<ul class="d-flex flex-column flex-md-row align-items-center">
					<li class="nav-item"><a routerLink="/discord">Discord</a></li>
					<li class="nav-item"><a routerLink="/vote">Vote</a></li>
					<li class="nav-item"><a target="_blank" href="https://wiki.projecteden.gg">Wiki</a></li>
					<li class="nav-item"><a target="_blank" href="https://store.projecteden.gg">Store</a></li>
					<li *ngIf="utils.getEnvironment() == 'development'" class="nav-item d-md-none d-lg-block"><a routerLink="/minigames">Minigames</a></li>
					<li class="nav-item"><a (click)="map()">Map</a></li>
					<li class="nav-item"><a routerLink="/titan">Titan</a></li>
					<li class="nav-item nav-item-dropdown">
						<a class="d-none d-md-block"><i class="bi bi-caret-down-fill"></i></a>
						<ul class="nav-item-dropdown-menu right">
							<li *ngIf="utils.getEnvironment() == 'development'" class="nav-item d-none d-md-block d-lg-none"><a routerLink="/minigames">Minigames</a></li>
							<li><a routerLink="/status">Status</a></li>
							<li><a routerLink="/apply">Applications</a></li>
							<li><a routerLink="/appeal">Ban Appeal</a></li>
							<li><a routerLink="/staff">Staff</a></li>
							<li><a routerLink="/showcase">Build Showcase</a></li>
							<li><a routerLink="/diversity">Diversity</a></li>
						</ul>
					</li>
				</ul>
				<ul class="text-end text-md-start">
					<li *ngIf="utils.nerd.uuid" class="nav-item nav-item-dropdown me-0">
						<img class="center mr-1 mr-md-0 mt-1 mt-md-0" style="border-radius: 12px; height: 56px" src="https://crafatar.com/avatars/{{ utils.nerd.uuid }}?overlay">
						<ul class="nav-item-dropdown-menu left">
							<li><span>{{ utils.nerd.nickname }}</span></li>
							<li><a (click)="logout()">Log Out</a></li>
						</ul>
					</li>
					<li *ngIf="!utils.nerd.uuid" class="nav-item me-0">
						<a (click)="utils.openLoginModal()">Log In</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>

<modal #loginModal [closeButton]="loginModalOptions?.keyboard">
	<div class="container color-white">
		<div class="row">
			<div class="col-12 col-lg-8 offset-lg-2 pt-3 px-md-2 pt-md-7 pb-md-{{loginFormMessage ? 2 : 6}}">
				<div class="text-center">
					<h1>{{loginModalOptions?.title ?? 'Log In'}}</h1>
				</div>
				<form (ngSubmit)="login()">
					<div class="my-4">
						<input ngbAutoFocus [formControl]="loginForm.controls.username" placeholder="Minecraft Nickname or Username" type="text" class="form-control" id="username" autocomplete="off">
					</div>
					<div class="d-flex justify-content-center">
						<loading-button [loading]="loginFormLoading" type="submit" classes="btn btn-primary">Submit</loading-button>
					</div>
					<div class="mt-4 d-flex justify-content-center">
						<form-message [message]="loginFormMessage"></form-message>
					</div>
				</form>
			</div>
		</div>
	</div>
</modal>

<modal #mapModal [closeButton]="false">
	<div class="d-flex justify-content-end">
		<button class="no-style float-right font-rem-1_5 mr-3" (click)="newTab()">
			<i class="bi bi-box-arrow-up-right"></i>
			Open in new tab
		</button>
		<button class="no-style float-right font-rem-1_5" (click)="mapModal.close()">
			<i class="bi bi-x-lg"></i>
			Close
		</button>
	</div>
	<div>
		<iframe src="https://map.projecteden.gg" width="100%" allowtransparency="true" frameborder="0"></iframe>
	</div>
</modal>
