@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

nav {
	background-color: #00000022;
	position: fixed;
	width: 100%;
	z-index: 1005;
}

.logo {
	width: 3rem;
}

.nav-toggle {
	padding-left: 15px;
	display: none;
	background: none;
	border: none;
	color: white;
	font-size: 2rem;
	cursor: pointer;
	position: fixed;
	right: 6px;
	z-index: 1010;
}

.nav-list {
	padding: 10px 20px;
	display: flex;
	margin: 0;

	& ul {
		padding-left: 0;
		list-style: none;
	}

	@media (min-width: 768px) {
		align-items: center;
	}
}

ul {
	margin-bottom: 0;
}

.nav-item {
	font-size: 1.2rem;
	position: relative; /* Needed for positioning the dropdown */
	margin-right: 15px;
	cursor: pointer;

}

.nav-item {
	width: 100%;
}

.nav-item span,
.nav-item a, {
	display: block;
	padding: 8px 12px;
	text-decoration: none;
	color: #fff;
	transition: background-color 0.3s ease;
}

.nav-item a:hover {
	border-radius: 4px; /* Optional aesthetic touch */
	background-color: #00000088;

	@media (min-width: 768px) {
		background-color: #555;
	}
}

@media (min-width: 768px) {
	nav::before, .nav-item-dropdown-menu::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(20px);
		z-index: -1;
	}
}

.nav-item-dropdown-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

@media (min-width: 768px) {
	/* Dropdown Menu Styling */
	.nav-item-dropdown-menu {
		position: absolute;
		width: max-content;
		background-color: #00000022;
		backdrop-filter: blur(15px);
		border-radius: 4px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		overflow: hidden;

		&.right {
			left: 0;
			top: 45px;
		}

		&.left {
			right: 0;
			top: 66px;
		}

		/* Initially hidden */
		opacity: 0;
		visibility: hidden;
		transform: translateY(-10px);

		/* Animation effect */
		transition: all 0.3s ease;
	}
}

.nav-item-dropdown-menu a,
.nav-item-dropdown-menu span {
	color: #fff;
	text-decoration: none;

	@media (min-width: 768px) {
		padding: 10px 20px;
	}
}

.nav-item-dropdown-menu a:hover {
	background-color: #00000088;
}

/* Dropdown Hover Effect */
.nav-item-dropdown:hover .nav-item-dropdown-menu {
	opacity: 1;
	visibility: visible;
	transform: translateY(0); /* Animate dropdown to slide down */
}

/* Responsive Styles */
@media (max-width: 768px) {
	.nav-list {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(40px);
		background-color: #00000033;
		z-index: 1000;
		transition: all 0.3s ease;

		/* Initially hidden */
		opacity: 0;
		visibility: hidden;
		transform: translateY(-10px);
	}

	.nav-list.active {
		opacity: 1;
		visibility: visible;
		transform: translateY(0); /* Animate dropdown to slide down */
	}

	.nav-toggle {
		display: block; /* Show the toggle button */
	}
}

.nav-container {
	@include media-breakpoint-only(sm) {
		max-width: 550px;
	}
}
