footer {
	color: #a4a4a4;
}

.social-media {
	font-size: 2rem;
	padding-right: 1rem;
	transition: all .3s ease;
	background: #bdbdbd;
	-webkit-background-clip: text;
}

.bi-discord:hover {
	color: #5865f2;
}

.bi-youtube:hover {
	color: #ff0000;
}

.bi-instagram:hover {
	color: #dd2a7b;
}

.bi-twitter-x:hover {
	color: #ffffff;
}

.bi-tiktok:hover {
	color: #fe2858;
}

.bi-reddit:hover {
	color: #ff4500;
}
