<footer class="my-3">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="mb-2">
					<i class="social-media bi bi-discord"></i>
					<i class="social-media bi bi-youtube"></i>
					<i class="social-media bi bi-instagram"></i>
					<i class="social-media bi bi-twitter-x"></i>
					<i class="social-media bi bi-tiktok"></i>
				</div>
				<div>
					Project Eden is not affiliated with Microsoft, Mojang AB, or Minecraft
				</div>
				<div class="d-flex justify-content-between">
					<div>
						Contact: <a href="mailto:admin@projecteden.gg">admin&#64;projecteden.gg</a>
					</div>
					<div>
						&copy; Project Eden {{currentYear()}}
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
