footer {
	color: #a4a4a4;
}

.social-media {
	font-size: 2rem;
	padding-right: 1rem;
	transition: all .3s ease;
	background: #bdbdbd;
	-webkit-background-clip: text;
}

.bi-discord:hover {
	color: #5865F2;
}

.bi-youtube:hover {
	color: #FF0000;
}

.bi-instagram:hover {
	color: #dd2a7b;
}

.bi-twitter-x:hover {
	color: #fff;
}

.bi-tiktok:hover {
	color: #FE2858;
}
