<div class="container">
	<div class="row">
		<div class="col-12 color-white text-center font-rem-2 fw-medium">
			<a href="https://projecteden.gg/apply/creator" class="d-block color-white text-decoration-none rounded-3 background-color-twitch py-1 px-2 mt-2 mb-4 mx-md-10">
				Creator Application
			</a>
			<a href="https://projecteden.gg/apply/builder" class="d-block color-white text-decoration-none rounded-3 background-color-builder py-1 px-2 my-4 mx-md-10">
				Builder Application
			</a>
			<a href="https://projecteden.gg/apply/moderator" class="d-block color-white text-decoration-none rounded-3 background-color-moderator py-1 px-2 my-4 mx-md-10">
				Moderator Application
			</a>
		</div>
	</div>
</div>
