<div class="container">
	<div class="row">
		<div class="col-12 color-white">
			<h1 class="text-center">Applications</h1>
			<div>
				<div class="d-flex justify-content-between">
					<h2 class="color-twitch mb-0">Creator</h2>
					<a href="https://projecteden.gg/apply/moderator" class="background-color-twitch color-white text-decoration-none px-2 py-1 rounded fw-medium">Apply now</a>
				</div>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="mt-4">
				<div class="d-flex justify-content-between">
					<h2 class="color-builder mb-0">Builder</h2>
					<a href="https://projecteden.gg/apply/moderator" class="background-color-builder color-white text-decoration-none px-2 py-1 rounded fw-medium">Apply now</a>
				</div>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="mt-4">
				<div class="d-flex justify-content-between">
					<h2 class="color-moderator mb-0">Moderator</h2>
					<a href="https://projecteden.gg/apply/moderator" class="background-color-moderator color-white text-decoration-none px-2 py-1 rounded fw-medium">Apply now</a>
				</div>
				<hr class="mt-2 mb-2">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
</div>
