<div class="container font-rem-1_25">
	<div class="row">
		<div class="col-12 color-white">
			<h1>Applications</h1>
			<div class="spectrum"></div>
			<application app="Creator" color="twitch" requiredRank="member">
				<p>
					Project Eden strives to be a welcoming and supportive environment for creators of all kinds. To help facilitate involvement from the community and support your ambitions as a creator, we have created exclusive badges for content creators. If you produce Project Eden related content on Twitch, YouTube, or any other platform, you can apply to receive your badge and access to the #creators channel on Discord, where you can announce when you go live or release new content.
				</p>
			</application>
			<application app="Builder" requiredRank="trusted">
				<p>
					Builders help with any build related needs for the server, such as events, minigame maps, spawns, and warps. They frequently collaborate as a team on large-scale projects. Strong technical skills, such as proficiency in WorldEdit and an in-depth knowledge of Minecraft mechanics, are essential for achieving the highest quality work. Additionally, Builders may assist in designing custom items and blocks for the server using tools like Blockbench.
				</p>
			</application>
			<application app="Moderator" requiredRank="trusted">
				<p>
					Moderators serve as the frontline of the server staff, ensuring a smooth and enjoyable experience for all players. Their responsibilities include answering player questions, resolving griefing issues, moderating chat, and addressing general player concerns. Beyond day-to-day support, Moderators actively contribute to the server's growth by collaborating with senior staff to brainstorm ideas and assist in implementing exciting new features that enhance the community experience.
				</p>
			</application>
		</div>
	</div>
</div>
