<div class="container-fluid container-md">
	<div class="row">
		<div class="col-12">
			<h1 class="mb-2">Minigame Leaderboards</h1>
			<div class="spectrum"></div>
		</div>
		<div
			*ngFor="let mechanic of stats"
			class="col-12 col-sm-6 col-lg-4 col-xl-3 text-center p-1 p-sm-2"
		>
			<div
				class="mechanic-image mb-2 cursor-pointer"
				[routerLink]="'/minigames/' + mechanic.mechanic"
				[ngStyle]="{'--bg-url': 'url(' + ('minigames/' + mechanic.mechanic + '.webp' | cmsImage) + ')'}"
			>
				<div class="mechanic-title" [innerHTML]="getMechanicTitle(mechanic)"></div>
			</div>
		</div>

	</div>
</div>
