<div class="container-fluid background-image">
	<div class="row background-blur">
		<div class="col-12">
			<div class="d-flex align-items-center align-content-center justify-content-center flex-column">
				<div class="h-100 w-100 d-flex flex-column align-items-center pt-5 pt-md-9">
					<a class="pb-6" routerLink="/home">
						<img class="banner w-100 px-2 px-sm-5" [src]="'logo.png' | cmsImage" alt="logo">
					</a>
					<div class="mb-2">
						<button class="ip border-0 rounded-3 p-2 px-3" (click)="copyIp()" type="button">
							<div class="color-white font-rem-1_5 font-rem-md-2 font-weight-bold">
								{{ ip }}<i class="ml-2 bi bi-copy"></i>
							</div>
						</button>
					</div>
					<div class="d-flex color-white font-rem-1 font-rem-md-1_5 mb-5 rounded-3 p-2 server-info">
						<ng-container *ngIf="!loading">
							<span class="px-2">{{status.players}} {{ 'nerd' | plural:status.players }} online</span>
							<span class="px-2">Java Edition {{ status.version }}</span>
						</ng-container>
						<ng-container *ngIf="loading">
							<span class="px-2">Loading server status...</span>
						</ng-container>
						<ng-container *ngIf="offline">
							<span class="px-2 text-danger">Server offline</span>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-12 mt-3">
			<iframe src="https://discordapp.com/widget?id=132680070480396288&amp;theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0"></iframe>
		</div>
	</div>
</div>

