<div class="d-flex justify-content-between">
	<h3>{{ title }}</h3>
	<ul class="pagination justify-content-center">
		<div class="page-item user-select-none cursor-pointer" (click)="firstPage() ? null : changePage(currentPage - 1)">
			<a [class.disabled]="firstPage()" class="page-link">&laquo;</a>
		</div>
		<div class="page-item user-select-none cursor-pointer">
			<a disabled class="page-link">{{ currentPage }}</a>
		</div>
		<div class="page-item user-select-none cursor-pointer" (click)="lastPage() ? null : changePage(currentPage + 1)">
			<a [class.disabled]="lastPage()" class="page-link">&raquo;</a>
		</div>
	</ul>
</div>
<div #tableContainer>
	<table class="table table-dark">
		<thead>
			<tr>
				<th *ngIf="ranked">#</th>
				<th *ngFor="let header of headers | keyvalue:utils.originalOrder" [ngClass]="header.value?.classes">
					{{ header.value?.name ?? header.value }}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let row of paginatedRows; let i = index">
				<td *ngIf="ranked" style="width: 55px">{{ getRank(i) }}</td>
				<td *ngFor="let header of headers | keyvalue:utils.originalOrder" [ngClass]="header.value?.classes">
					<span [attr.data-tooltip]="row[header.key].tooltip">{{ row[header.key]?.text ?? row[header.key] }}</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
