<div class="container color-white">
	<div class="row">
		<div class="col-12 mb-3">
			<h1>Voting</h1>
		</div>
		<div class="col-12 col-md-7 col-lg-8 order-2 order-md-1 color-white">
			<h2>Why vote?</h2>
			<div>
				<p>Voting for Project Eden helps put us higher on the server lists. Higher ranking on the server lists means more players will see us as they browse for a server to join. More players means more potential staff members, donators, and normal players that make Project Eden a fun place to be.</p>
				<p>Voting is the quickest and easiest way of showing your support for Project Eden and ensuring that it will last. And don't forget about the nice rewards :)</p>
			</div>
		</div>
		<div class="col-12 col-md-5 col-lg-4 order-1 order-md-2">
			<h2>Links</h2>
			<div *ngFor="let link of links | keyvalue" class="btn-group d-block vote-button-group mb-2">
				<a [href]="link.value" target="_blank" role="button" class="btn btn-primary">Vote!&nbsp;</a>
				<button class="btn border-0 vote-button"><strong>{{link.key}}</strong></button>
			</div>
		</div>
	</div>
</div>
