<div class="container color-white font-rem-1_125">
	<div class="row">
		<div class="col-12 mb-3">
			<h1>Voting</h1>
			<div class="spectrum"></div>
		</div>
		<div class="col-12 col-md-7 col-lg-8 order-2 order-md-1 color-white mt-3 mt-md-0 pr-lg-4">
			<div class="mb-4">
				<h2>Why vote?</h2>
				<hr>
				<p>Voting for Project Eden helps raise our ranking on the server lists. A higher ranking means more players will see us as they browse for a server to join. More players mean more potential staff members, donors, and normal players, making Project Eden a better place.</p>
				<p>Voting is the quickest and easiest way of showing your support for Project Eden and ensuring it will last. And don't forget about the nice rewards :)</p>
			</div>
			<div>
				<h2>Vote Rewards</h2>
				<hr class="mb-3">

				<h3>Vote Parties</h3>
				<blockquote>
					<p>As more people vote, the count towards a new Vote Party increases. When the Vote Party’s goal is met, every player who voted during the period will receive an away. These can trigger at any time and have no specified end date. Rewards include things like crate keys, personal boosts, and helpful survival items.</p>
				</blockquote>

				<h3>Monthly Top Voting Rewards</h3>
				<blockquote>
					<p>At the end of each month, the people with the most votes receive the following rewards:</p>
					<table class="table table-dark">
						<tbody>
							<tr>
								<td class="pr-4">First</td>
								<td>$10 store credit</td>
							</tr>
							<tr>
								<td>Second</td>
								<td>$5 store credit</td>
							</tr>
							<tr>
								<td>Third</td>
								<td>$3 store credit</td>
							</tr>
						</tbody>
					</table>
				</blockquote>

				<h3>Vote Points Store</h3>
				<blockquote>
					<p>Each time you vote, you receive one vote point (and a small chance of getting more) to spend in the <code>/vps</code>. This in-game store has many different helpful items across many different game modes.</p>
				</blockquote>

				<h3>Daily Vote Streak</h3>
				<blockquote>
					<p>Every day you vote on at least two out of the four vote sites, your Vote Streak will increase.</p>

					<table class="table table-dark">
						<thead>
							<tr>
								<th>Streak</th>
								<th>Reward</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="pr-4">3 Days</td>
								<td>5 Extra Vote Points</td>
							</tr>
							<tr>
								<td>5 Days</td>
								<td>5 Vote Crate Keys</td>
							</tr>
							<tr>
								<td>10 Days</td>
								<td>10 Vote Crate Keys</td>
							</tr>
							<tr>
								<td>15 Days</td>
								<td>20 Vote Crate Keys</td>
							</tr>
							<tr>
								<td>30 Days</td>
								<td>1 Random Personal Boost</td>
							</tr>
						</tbody>
					</table>

					<p>The rewards will be automatically mailed to you in-game. Additionally, the rewards loop every 30 days. This means that on day 40, you will receive the same reward as day 10, and on day 90, you will get the same reward as day 30, etc.</p>
				</blockquote>

				<p class="font-rem-0_75 mt-3 color-gray">* Everything is subject to change at the discretion of the staff.</p>
			</div>
		</div>
		<div class="col-12 col-md-5 col-lg-4 order-1 order-md-2">
			<h2>Links</h2>
			<spinner *ngIf="loading" display="grid"></spinner>
			<ng-container *ngIf="!loading">
				<div *ngFor="let link of sites | keyvalue" class="btn-group d-block vote-button-group mb-2">
					<a [href]="link.value" hoverBrightness [down]="30" target="_blank" role="button" class="btn btn-primary">Vote!&nbsp;</a>
					<button class="btn border-0 vote-button"><strong>{{link.key}}</strong></button>
				</div>
			</ng-container>
		</div>
	</div>
</div>
