.vote-button-group {
	a {
		background-color: #375a7f;
		border-color: #375a7f;
	}
	button {
		background-color: #f8f8f8;
		color: #3B3B3C;
	}
}

h3 {
	margin-top: 2.5rem;
	margin-bottom: 1rem;
}

table {
	width: fit-content;
}

blockquote {
	border-left: 4px solid #375a7f;
	padding-left: 1.5rem;
}

code {
	color: #ccc;
	background-color: rgba(255, 255, 255, 0.1);;
	border-radius: 4px;
	padding: 2px 5px;
}
