#volume {
	width: 100%;
}

.overlay-container {
	position: absolute;
	transition: opacity .5s ease;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.icon-container {
	border-radius: 50%;
	font-size: 7rem;
	width: 200px;
	display: flex;
	justify-content: center;
	text-align: center;
}
