<div class="container color-white font-rem-1_125 font-rem-xl-1_25">
	<div class="row">
		<div class="col-12">
			<spinner *ngIf="loading" classes="mt-5"></spinner>
			<ng-container *ngIf="!loading">
				<div class="row">
					<div class="col-12">
						<h1>System Info</h1>
						<div class="spectrum"></div>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12 col-xl-6 pr-xl-3">
						<div class="d-flex justify-content-between">
							<span class="fw-bold">Uptime</span>
							{{ utils.formatTimespan(data.status.uptime, responsiveUtil.eq('xs') ? 'short' : 'long') }}
						</div>
					</div>
					<div class="col-12 col-xl-6 mt-3 mt-xl-0 pl-xl-3">
						<div class="d-flex justify-content-between">
							<span class="fw-bold">Load Average</span>
							{{ loadAverage().join('&nbsp; ') }}
						</div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-12 col-xl-6 pr-xl-3">
						<div class="d-flex justify-content-between">
							<span class="fw-bold">RAM Usage</span>
							{{ (data.status.memory.used / GB).toFixed(2) }} GB &nbsp;/&nbsp; {{ (data.status.memory.total / GB).toFixed(2) }} GB
						</div>
						<progress-bar class="mt-1" [percentage]="data.status.memory.percentage"></progress-bar>
					</div>
					<div class="col-12 col-xl-6 mt-3 mt-xl-0 pl-xl-3">
						<div class="d-flex justify-content-between">
							<span class="fw-bold">CPU Usage</span>
							{{ data.status.cpu }}%
						</div>
						<progress-bar class="mt-1" [percentage]="data.status.cpu"></progress-bar>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-12">
						<div class="d-flex justify-content-between">
							<span class="fw-bold">Disk Usage</span>
							{{ (data.status.diskspace.used / GB).toFixed(2) }} GB &nbsp;/&nbsp; {{ (data.status.diskspace.total / GB).toFixed(2) }} GB
						</div>
						<progress-bar class="mt-1" [percentage]="data.status.diskspace.percentage"></progress-bar>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-12 mb-2">
						<h1>Backups</h1>
						<div class="spectrum"></div>
					</div>
					<div class="col-12 mb-4">
						<paginated-table title="Worlds" [headers]="{ timestamp: 'Time', size: 'Size' }" [rows]="data.backups.worlds"></paginated-table>
					</div>
					<div class="col-12 col-lg-6 mb-4">
						<paginated-table title="MySQL" [headers]="{ timestamp: 'Time', size: 'Size' }" [rows]="data.backups.databases.mysql"></paginated-table>
					</div>
					<div class="col-12 col-lg-6 mb-4">
						<paginated-table title="MongoDB" [headers]="{ timestamp: 'Time', size: 'Size' }" [rows]="data.backups.databases.mongodb"></paginated-table>
					</div>
					<div class="col-12 col-lg-6 mb-4">
						<paginated-table title="Minecraft Config Files" [headers]="{ timestamp: 'Time', files: 'Files' }" [rows]="data.backups.git.server"></paginated-table>
					</div>
					<div class="col-12 col-lg-6 mb-4">
						<paginated-table title="Minecraft Player Data" [headers]="{ timestamp: 'Time', files: 'Files' }" [rows]="data.backups.git.storage"></paginated-table>
					</div>
					<div class="col-12 col-lg-6 mb-4">
						<paginated-table title="Linux Config Files" [headers]="{ timestamp: 'Time', files: 'Files' }" [rows]="data.backups.git.sol"></paginated-table>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</div>
