footer {
	color: #a4a4a4;
}

.social-media-icons > :not(:last-child) {
	padding-right: 1rem;
}

.social-media-icon {
	font-size: 2rem;
	transition: all .3s ease;
	background: #bdbdbd;
	color: #bdbdbd;
	-webkit-background-clip: text;
}

.bi-discord:hover {
	color: #5865f2;
}

.bi-youtube:hover {
	color: #ff0000;
}

.bi-instagram:hover {
	color: #dd2a7b;
}

.bi-twitter-x:hover {
	color: #ffffff;
}

.bi-tiktok:hover {
	color: #fe2858;
}

.bi-reddit:hover {
	color: #ff4500;
}

.bi-github:hover {
	color: #ffffff;
}

.bi-steam:hover {
	color: #1e98dd;
}
