<footer class="my-3">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center text-md-start">
				<hr class="spectrum">
				<div class="mb-2 social-media-icons">
					<a target="_blank" href="https://discord.projecteden.gg"><i class="social-media-icon bi bi-discord"></i></a>
					<a target="_blank" href="https://youtube.projecteden.gg"><i class="social-media-icon bi bi-youtube"></i></a>
					<a target="_blank" href="https://instagram.projecteden.gg"><i class="social-media-icon bi bi-instagram"></i></a>
					<a target="_blank" href="https://x.projecteden.gg"><i class="social-media-icon bi bi-twitter-x"></i></a>
				<!-- TODO Icon in next release https://github.com/twbs/icons/issues/1886 -->
				<!--<a target="_blank" href="https://bluesky.projecteden.gg"><i class="social-media-icon bi bi-bluesky"></i></a>-->
					<a target="_blank" href="https://tiktok.projecteden.gg"><i class="social-media-icon bi bi-tiktok"></i></a>
					<a target="_blank" href="https://reddit.projecteden.gg"><i class="social-media-icon bi bi-reddit"></i></a>
					<a target="_blank" href="https://steam.projecteden.gg"><i class="social-media-icon bi bi-steam"></i></a>
					<a target="_blank" href="https://github.projecteden.gg"><i class="social-media-icon bi bi-github"></i></a>
				</div>
				<div>
					Project Eden is not affiliated with Microsoft, Mojang AB, or Minecraft
				</div>
				<div class="d-md-flex justify-content-between">
					<div class="mt-2 mt-md-0">
						Contact: <a href="mailto:admin@projecteden.gg">admin&#64;projecteden.gg</a>
					</div>
					<div class="mt-2 mt-md-0">
						&copy; Project Eden {{currentYear()}}
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
